.header{
    height: 175px;
 }
.header__navbar{
    padding-top: 25px;
    display: flex;
    text-align: center;
    letter-spacing: 2px;
    text-transform: none;
}
/* .hearder__navbar-logo{
} */
.hearder__navbar-logo{
    width: 310px;
    list-style: none;
    padding-left: 0;
    margin-right: 23px;
}
.hearder__navbar-item{
    display: inline-block;
    font-style: normal;
    line-height: 26px;
    font-family: Roboto,sans-serif;
    margin-right: 20px;
    font-weight: 400;
    font-size: 15px;
    list-style: none;
    position: relative;
}

.hearder__navbar-item a{
    display: block;
    text-decoration: none;
    color: #000;
    font-style: normal;
    line-height: 26px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 15px;
    list-style: none;
}
.hearder__navbar-item .abc::after{
    content: '';
    display: block;
    position: relative;
    top: 25px;
    width: 0;
    height: 2px;
    background-color: rgb(17, 16, 16);
    transition: width .3s;
}
.hearder__navbar-item .abc:hover::after{
    width: 100%;
    transition: width .3s;
}
.hearder__navbar-item-menu1{
    border-radius: 2px;
    border-top: 1px solid #333;
    box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    left: -350px;
    width: 750px;
    height: 500px;
    list-style: none;
    position: absolute;
    top: 53px;
    display: none;
    background: rgb(255, 255, 255);
    transition: all .3s ease 0s;
    z-index: 1;
}
.hearder__navbar-item-menu1::after{
    content: '';
    display: block;
    position: absolute;
    width: 95px;
    height: 35px;
    left: 320px;
    top: -35px;
}
.hearder__navbar-item-submenu{
    margin-top: 15px;
}
.hearder__navbar-item-submenu hr{
    width: 80%;
    margin-right: 160px;
}
.hearder__navbar-item-submenu a{
    padding-left: 15px;
    font-family: Josefin Sans,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-transform: none;
    font-style: normal;
}
.submenu-hot,
.submenu-new{
    margin-left: 3px;
   padding:2px 10px;
    font-size: 10px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 3px rgb(17 17 17 / 20%);
    font-weight: 700;
    text-transform: uppercase;
}
.submenu-hot{
    background-color: #ee5c5c;
}
.submenu-new{
    background-color: #5dd25d;
}
.hearder__navbar-item-menu{
    border-radius: 2px;
    border-top: 1px solid #333;
    box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
    left: -223px;
    width: 500px;
    height: 200px;
    list-style: none;
    position: absolute;
    top: 53px;
    display: none;
    background: rgb(255, 255, 255);
    transition: all .3s ease 0s;
    z-index: 1;
}
.hearder__navbar-item:hover > .hearder__navbar-item-menu,
.hearder__navbar-item:hover > .hearder__navbar-item-menu1{
    display: block;
}
.hearder__navbar-item-menu-item{
    width: 100%;
    height: 100%;
    left: -20px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.hearder__navbar-item-submenu{
    display: flexbox;
    padding: 0;
    text-align: left;
    width: 49%;
    list-style: none;
}
.hearder__navbar-item-submenu li a{
    display: flex;
    align-items: center;
    text-align: center;
    height: 45px;
    border-radius: 3px;
    padding-left: 15px;
    font-family: Josefin Sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: none;
    font-style: normal;
}
.hearder__navbar-item-submenu li:hover a{
    background-color: #333;
    color: #fff;
}    

.hearder__navbar-item-menu::after{
    content: '';
    display: block;
    position: absolute;
    width: 95px;
    height: 35px;
    left: 200px;
    top: -35px;
}



.hearder__navbar-list{
    padding: 0;

}
.hearder__navbar-nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.hearder__navbar-item-list{
    display: inline-block;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    vertical-align: bottom;
    margin: 0 8px;

}
.hearder__navbar-logo{
    display: flex;
    text-align: center;
}
.hearder__navbar-logo-img{
    width: 120px;
}
/* /////// */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-top: 30px;

}
.meny{
    /* top: 20%;
    left: 50%; */
    height: 63px;
    width: 300px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    
}
.button{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    background: #111;
    color: white;
    font-size: 20px;
    /* padding: 8px 20px; */
    height: 100%;
    width: 300px;
    line-height: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: width .4s;
    padding: 0  30px;
    font-family: "Open Sans",sans-serif;
}
.button i{
    font-size: 25px;
    margin-right: 30px;
}
.button i.expand:before{
    content: '\f00d';
}

.meny-contai{
    /* list-style: none;
    position: absolute;
    top: 145.2px;
    left: 110.2px; */
    /* display: block; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 155px;
    left: 110.2px; 
    width: 100%;
    background-color: #f9f9f9;
    width: 287px;
    text-align: left;
    display:none ;
    
    
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 10%);

    z-index: 1;
}
.meny-contai li{
    line-height: 50px;
    /* padding: 8px 20px; */
    cursor: pointer;
    border: 2px solid transparent;
    border-top: 1px solid rgba(85, 84, 84, 0.1);
}
.meny-contai li:last-child{
    border-bottom: none;
}
.meny-contai li:hover:first-child{
    border-radius:0 0 5px 5px;
}
.meny-contai li a{
    font-family: "Open Sans",sans-serif;
    align-items: center;
    color: #111;
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.meny-contai li:hover{
    background:  #dddedf;;
}



































.header__search{
    position: inherit;
    flex: 1;
    height: 63px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-style: groove;
}

.header__search-input{
    width: 75%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    padding: 0 20px;
    border-radius: 4px;
}
.header__search-select{
    height: 30px;
    cursor: pointer;
    padding-left: 25px;
    border-left: 1px solid rgb(146, 143, 143);
    display: flex;
    align-items: center;
}
.header__search-lable{
    font-family: "Open Sans",sans-serif;
    width: 130px;
    font-size: 16px;
    color: #444;
}
.header__search-icon{
    font-size: 14px;
    color: #444;
    margin: 0 65px 0 16px;
    position: relative;
    top: 2px;
}
.header__search-btn{
    cursor: pointer;
    display: flex;
    background-color: black;
    border: none;
    height: 100%;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.header__search-btn:hover{
    background-color: rgb(78, 76, 76);
}
.header__search-btn-icon{
    font-size: 20px;
    color: white;
}

/* 2 */
.broly{
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(./img/5.jpg);
    background-size: cover;
    height: 470px;
    background-position:top center ;
}
.slideshow{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
    height: 470px;
    position: relative;
    overflow: hidden;
}
.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}
.slideshow-item img{
    /* float: right;
    width: 10%; */
    object-fit: cover;
    animation: zoom 31s inherit;
    width: 25%;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    padding: 10rem 5rem;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img{
    animation-delay: 40s;
}
.slideshow-item-text{
    max-width: 43%;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0,.8); */
    color: rgb(20, 17, 17);
    padding: 10rem 5rem;
    
}

.slideshow-item-text h6{
    top: 115px;
    left: 142.312px;
    font-weight: 500;
    font-size: 11px;
    color: rgb(17, 17, 17);
    letter-spacing: 1.58125px;
    line-height: 22px;
    margin: 0px;
    z-index: auto;
    width: 128.872px;
    height: 22px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    filter: none;
    animation: gotext 5s forwards;
}
.slideshow-item-text h5{
    top: 160.286px;
    left: 138.359px;
    font-weight: 600;
    font-size: 50px;
    color: rgb(0, 0, 0);
    line-height: 55.3438px;
    margin: 20px 0;
    z-index: auto;
    width: 469.631px;
    height: 50px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 0px;
    filter: none;
    animation: gotext 3s forwards;
}
.slideshow-item-text p{
    /* font-size: 1.6rem;
    font-family:'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 300; */
    top: 236.976px;
    left: 142.312px;
    font-weight: 300;
    font-size: 17.3938px;
    color: rgb(17, 17, 17);
    line-height: 25.3px;
    background-size: inherit;
    background-position: inherit;
    margin: 0px;
    z-index: auto;
    width: 384.244px;
    height: 50.6px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 0px;
    filter: none;
    animation: gotext 0s forwards;
}
@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    
}
@keyframes gotext{
    25%{
        opacity: 0;
        margin-bottom: 1000px;
    }
    40%{
        opacity: 1;
        margin-bottom: 500px;
    }
}
@keyframes  zoom{
    100%{
        transform: scale(1.2);
    }
}
@media screen and (max-width: 767px){
    .slideshow-item-text{
        max-width: 100%;
        padding:2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }
    .slideshow-item img{
        width: 100%;
    }
    .slideshow-item-text h5{
        font-size: 3rem;
    }
    .slideshow-item-text p{
        font-size: 1.4rem;
    }
}



/* <!-- 3 --> */
.container__navbar{
    padding-top: 20px;
    height: 330px;
}
.container__navbar-form{
    display: flex;
    justify-content: space-between;
    width: 1295px;
    height: 310px;
    max-width: 100%;
    margin: 0 auto;
}
.container__navbar-product{
    display: flex;
    flex-direction: column;
    width: 637px;
    height: 310px;
    background-color: rgb(233, 231, 231);
    border-radius: 5px;
    cursor: pointer;
}
.container__navbar-product-content{
    margin: 0px;
    height: 122px;
    padding-left: 45px;
    padding-top:30px;
    font-family: calibri;   
}
.container__navbar-product-content h1{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Roboto,sans-serif;
    font-size: 22px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
    font-weight: 750;
}
.container__navbar-product-content-subtitle{
    color: rgb(36, 37, 37);
    font-size: 17px;
    font-family: monospace;
    position: relative;
}
.container__navbar-product-content-subtitle::after{
    background-color: rgb(22, 21, 21);
    top: 40px;
    content: "";
    left: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    border-radius: 4px;
}
.container__navbar-product-img{
    margin: 0px;
    height: auto;
}
.container__navbar-product-img-one{
    margin-left: auto;
	margin-right: auto;
	display: block;
}
.container__navbar-product-two{
    display: flex;
    justify-content: space-between;
    width: 637px;
    height: 310px;
    background-color: rgb(233, 231, 231);
    border-radius: 5px;
    cursor: pointer;
}
.container__navbar-product-image{
    padding: 12px 0 0 70px;
}
.container__navbar-product-content-one{
    padding: 200px 30px 0 0;
}
.container__navbar-product-content-one h1{
    font-family: Roboto,sans-serif;
    font-size: 22px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
    font-weight: 750;
}
.container__navbar-product-content-subtitle-one{
    color: rgb(36, 37, 37);
    font-size: 17px;
    font-family: monospace;
    position: relative;
}
.container__navbar-product-content-subtitle-one::after{
    background-color: rgb(22, 21, 21);
    top: 40px;
    content: "";
    left: 0;
    position: absolute;
    width: 40px;
    height: 3px;
    border-radius: 4px;
}



/* <!-- 4 --> */
.footer{
    padding-top: 80px;
    height: 1400px;
}
.footer__products{
    display: flex;
    flex-direction: column;
    width: 1295px;
    height: 1200px;
    max-width: 100%;
    margin: 0 auto; 
}
.footer__products-title{
    flex: 1;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
}
.footer__products-title h1{
    letter-spacing: 2px;
    font-weight: 550;
    font-style: normal;
    clear: both;
}
.footer__products-items{
    width: 100%;
    height: 1150px;
}
.footer__products-items-one{
    display: flex;
    justify-content: space-between;
    height: 750px;
}
.footer__product-column-one{
    display: flex;
    padding-bottom: 0.8%;
    width: 49.4%;
    height: 100%;
    border-radius: 5px;
}
.footer__product-column-one-card{
  position: relative;
  width: 100%;
  border-radius: 3px;
  height: 100%;
  overflow: hidden;
  background-color: rgb(248,248,248);
}
.one-card-img{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 10000;
    width: 100%;
    height: 30px;
    transition: 0.5s

}
.footer__product-column-one-card:hover .one-card-img{
    top: 35%;
    transform: translateY(30%);
}
.one-card-img img{
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;  
    transform: translate(-50%,-50%) rotate(0deg);
    width:100%;
}
/* css prduct */
.footer__product-column-two{
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items:center;
  width: 49.4%;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 5px;

}

.footer__product-column-two-card{
  position: relative;
  margin-top: -10px;
  width: 49%;
  border-radius: 3px;
  height: 365px;
  overflow: hidden;
  background-color: rgb(248,248,248);
}
.card-img{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 10000;
    width: 100%;
    height: 30px;
    transition: 0.5s
}
.footer__product-column-two-card:hover .card-img,
.footer__product-items-two-card:hover .card-img{
    top: 35%;
    transform: translateY(30%);
}
.card-img img{
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;  
    transform: translate(-50%,-50%) rotate(0deg);
    width:100%;
}
.card-img-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-left: 10%;
    float: left;
    transition: 1s;
    z-index: 100000;
}
.footer__product-column-two-card:hover .card-img-title,
.footer__product-column-one-card:hover .card-img-title,
.footer__product-items-two-card:hover .card-img-title{
    height: 120px;
}
.card-img-title h2{
    position: relative;
    font-weight: 550;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #676767;
    font-size: 14px;
}
.card-img-price{
    display: flex;
    align-items: center;
    font-family: Courier New;
}
.card-img-price-old{
    color: #959595;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
    padding: 0;

}
.card-img-price-old i{
    text-decoration: line-through;
}
.card-img-price-new{
    padding: 0;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    font-family: Courier New;
}
.card-img-title a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #111;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(50px);
    transition: all .01s step-end;
    font-size: 14px;
    font-weight: 600;
}
.footer__product-column-two-card:hover .card-img-title a,
.footer__product-column-one-card:hover .card-img-title a,
.footer__product-items-two-card:hover .card-img-title a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}


.footer__products-items-two{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: calc( 100% - 750px );
}
.footer__product-items-two-card{
  position: relative;
  border-radius: 3px;
  padding: 0;
  width:24.2%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(248,248,248);
}


/* /////////////////////////////////// */
/* <!-- 5 --> */
.signup{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: rgb(248,248,248);
}
.signup__content{
    width: 50%;
}
.signup__content h2{
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
    letter-spacing: 4px;
    
}
.signup__content h5{
    color: #444;
    font-size: 18px;
    font-weight: 200;
    padding: 7px 0 0;
}
.signup__content-input{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 55px;
}
.signup__content-input input{
    padding-left: 15px;
    margin-right: 0.5%;
    width: 84%;
    font-size: 17px;
    border: none;
    border-radius: 3px;
}
.signup__content-input button{
    cursor: pointer;
    width: 15.5%;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    border: none;
}
.signup__content-input button:hover{
    background-color: rgb(82, 82, 85);
}


/* //////////////////////////// */
/* <!-- 6 --> */
.product__slide{
    width: 1295px;
    max-width: 100%;
    margin: 0 auto;
    height: 640px;
}
.product__slide-title h2{
    padding-top: 100px;
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
    padding-bottom: 10px;
}
.product__slide-list{
    display: flex;
    justify-content: space-between;
    
}

.product__slide-list-img{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 31.9%;
    height: 410px;
    overflow: hidden;
    border-radius: 5px;
}
.product__slide-list-img-anh{
    /* position: absolute; */
    overflow: hidden;
    cursor: pointer;
}
.product__slide-list-img-anh img{
    width: 100%;
    height: 260px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease-in-out;
}
.product__slide-list-img-anh:hover img {
    transform: scale(1.2) rotate(0.5deg);
}

.product__slide-list-elip:hover{
    background-color: #000;
    color: #fff;
}


.product__slide-list-infor-ab{
    margin-top: 20px;
}
.product__slide-list-infor-ab a{
    color: #444;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
}
.product__slide-list-infor-ab a:hover{
    color: #333;
}
.product__slide-list-infor h2{
    font-family: monospace;
    font-size: 21px;
    line-height: 25px;
    font-weight: 550;
    font-style: normal;
}
.product__slide-list-infor h2 a{
    color: #000;
    text-decoration: none;
}
.product__slide-list-elip{
    display: flex;
    position: absolute;
    left: 8%;
    bottom: 45%;
    clip-path: circle(50%);
    height: 7em;
    width: 7em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#fff;
}
.elip1{
    font-size: 17px;
    font-weight: 400;
}
.elip2{
    padding-top: 5px;
    font-size: 19px;
    font-weight: 700;
}


/* 
///////////////////////////////// */
.photo__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 195px;
    background-color: #676767;
    overflow: hidden;
}
.photo__wrap-list-img{
    display: flex;
    width: 12.5%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: .6s ease-in-out;
    cursor: pointer;
 
}
.photo__wrap-list-img:hover::before{
    opacity: 1;
}
.photo__wrap-list-img:hover .photo__wrap-list-image-icon{
    opacity: 1;
    transform:translateY(0) ;
}
.photo__wrap-list-img::before{
    content: '';
    position: absolute;
    
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent -100%, rgb(56, 54, 54) 100%);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.photo__wrap-list-image-icon{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}
.photo__wrap-list-image-icon i{
    color: #fff;
    font-size: 60px;
}
.photo__wrap-list-img img{
    width: 100%;
    height: 195px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.photo__wrap-button{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 5;
    width: 145px;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;
}
.photo__wrap-button p{
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
}
.photo__wrap-button i{
    padding-top: 2px;
    font-size: 16px;
    padding-right: 6px;
}
.photo__wrap-button:hover{
    background: #000;
    color: #fff;
}


.information__contact{
    width: 100%;
    height: 547px;
    background: #000;
}
.information__contact-gird{
    width: 1295px;
    max-width: 100%;
    margin: 0 auto;
}
.information__contact-categori{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1295px;
    max-width: 100%;
    margin: 0 auto;
    height: 410px;
    background: #000;
    padding: 0;
}
.information__contact-categori-address{
    width: 24%;
    height: 70%;
}

.information__contact-categori-address-logo img{
    padding-top: 10px;
    width: 45%;
}
.information__contact-categori-address ul{
    padding-top: 20px;
    font-size: 20px;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: rgb(145, 140, 140);
}   

.information__contact-categori-tin{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-bottom: 10px;
}
.information__contact-categori-tin a ,span{
    text-decoration: none;
    color: #ccc;
    padding-left: 15px;
}
.information__contact-categori-tin a:hover{
    color: #fff;
}
.information__contact-categori-tin i{
    font-size: 26px;
}
.information__contact-categori-address h3{
    padding-top: 0;
    font-family: Josefin Sans,sans-serif;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 38px;
}
.information__contact-categori-address h3::after{
    background-color: #fff;
    top: 40px;
    content: "";
    left: 0;
    position: absolute;
    width: 50px;
    height: 3px;
    border-radius: 4px;
}
.information__contact-categori-address-tt ul{
    font-style: normal;
    list-style-type: none;
}
.information__contact-categori-address-tt ul li{
    padding-bottom: 15px;
}
.information__contact-categori-address-tt ul li a{
    font-size: 20px;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #ccc;
    text-decoration: none;
}
.information__contact-categori-address-tt ul li a:hover{
    color: #fff;
}



.information__contact-hr{
    height: 2px;
    background: #333;
}
.information__contact-channels{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1295px;
    max-width: 100%;
    margin: 0 auto;
    height: 130px;
}
.information__contact-channels-icon ul li,
.information__contact-channels-paypanment li{
    display: inline-block;
    font-style: normal;
}
.information__contact-channels-text{
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
}
.information__contact-channels-text a{
    text-decoration: none;
    color: #fff;
}
.information__contact-channels-icon ul li a{
    margin-left: 20px;
    color: #ccc;
    font-size: 20px;
    line-height: 1;
}
.information__contact-channels-icon ul li a:hover{
    color: #fff;
}
.information__contact-channels-paypanment li img{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.information__contact-channels-paypanment li img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}